
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/payflow"

ACCESS_TOKEN_SECRET="change-this-to-a-long-random-secret"
ACCESS_TOKEN_EXPIRES_IN="15m"

REFRESH_TOKEN_SECRET="change-this-to-a-different-long-random-secret"
REFRESH_TOKEN_EXPIRES_IN="7d"
